In [7]:
# Data Science Final Project

In [20]:
## Introduction
#Welcome to my final project for the Data Science course. In this notebook, I will cover various aspects of data science including languages, libraries, tools, and some practical coding examples.

In [5]:
# Data Science Languages
# Here are some common languages used in data science:
# - Python
# - R
# - SQL
# - Julia
# - Scala

In [4]:
## Data Science Languages
Here are some common languages used in data science:
- Python
- R
- SQL
- Julia
- Scala

SyntaxError: invalid syntax (3500100628.py, line 2)

In [8]:
# Data Science Libraries
# Here are some popular libraries used in data science:
# - Pandas
# - NumPy
# - Matplotlib
# - SciPy
# - Scikit-learn
# - TensorFlow
# - PyTorch

In [13]:

# Data Science Tools

# |Tool         | Description                           |
# | Jupyter      | Interactive notebook for coding        |
# | RStudio      | IDE for R programming                  |
# | Apache Spark | Big data processing framework          |
# | Tableau      | Data visualization tool                |
# | Excel        | Spreadsheet tool for data analysis    |

In [15]:
## Arithmetic Expression Examples
# In this section, we will explore some basic arithmetic operations using Python.

In [16]:
# Multiplying and Adding Numbers
a = 5
b = 10

# Multiplication
product = a * b

# Addition
sum_result = a + b

product, sum_result

(50, 15)

In [17]:
# Convert Minutes to Hours
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example
minutes = 120
hours = minutes_to_hours(minutes)
hours

2.0

In [19]:
## Objectives
# 1. To understand and document various data science languages and libraries.
# 2. To demonstrate practical coding examples for arithmetic operations and unit conversions.
# 3. To create a comprehensive and well-organized final project notebook.

In [ ]:
## Author
#This notebook was created by [sahil kachare].